In [84]:
import pandas as pd
import numpy as np

In [85]:
df08 = pd.read_excel(r"Raw Data 10yrs_v3.xlsx", sheet_name="2008")
df09 = pd.read_excel(r"Raw Data 10yrs_v3.xlsx", sheet_name="2009")
df10 = pd.read_excel(r"Raw Data 10yrs_v3.xlsx", sheet_name="2010")
df11 = pd.read_excel(r"Raw Data 10yrs_v3.xlsx", sheet_name="2011")
df12 = pd.read_excel(r"Raw Data 10yrs_v3.xlsx", sheet_name="2012")
df13 = pd.read_excel(r"Raw Data 10yrs_v3.xlsx", sheet_name="2013")
df14 = pd.read_excel(r"Raw Data 10yrs_v3.xlsx", sheet_name="2014")
df15 = pd.read_excel(r"Raw Data 10yrs_v3.xlsx", sheet_name="2015")
df16 = pd.read_excel(r"Raw Data 10yrs_v3.xlsx", sheet_name="2016")
df17 = pd.read_excel(r"Raw Data 10yrs_v3.xlsx", sheet_name="2017")
df18 = pd.read_excel(r"Raw Data 10yrs_v3.xlsx", sheet_name="2018")

df = [df08,df09,df10,df11,df12,df13,df14,df15,df16,df17,df18]

In [86]:
# Rename columns

for i in range(11):
    currDf = df[i]
    currDf.rename(columns={"Unnamed: 0": "Name", "Unnamed: 1": "Team", "Unnamed: 2": "Pos", "Unnamed: 3": "Age", "Games": "G", "Games.1": "GS", "Passing": "P_Cmp", "Passing.1": "P_Att", "Passing.2": "P_Yds", "Passing.3": "P_TD", "Passing.4": "P_Int", "Rushing": "Ru_Att", "Rushing.1": "Ru_Yds", "Rushing.2": "Y/A", "Rushing.3": "R_TD", "Receiving": "Tgt", "Receiving.1": "Rec", "Receiving.2": "Re_Yds", "Receiving.3": "Y/R", "Receiving.4": "Re_TD", "Fantasy": "Total_Pts", "Fantasy.1": "PPR", "Fantasy.2": "PosRank"}, inplace=True)
    df[i] = currDf.drop(currDf.index[0])
    
df[0]

,Name,Team,Pos,Age,G,GS,P_Cmp,P_Att,P_Yds,P_TD,...,Y/A,R_TD,Tgt,Rec,Re_Yds,Y/R,Re_TD,Total_Pts,PPR,PosRank
1,Drew Brees,NOR,QB,29,16,16,413,635,5069,34,...,-0.05,0,0,0,0,NaN,0,305,305,1
2,Aaron Rodgers,GNB,QB,25,16,16,341,536,4038,28,...,3.7,4,0,0,0,NaN,0,296,296,2
3,Philip Rivers,SDG,QB,27,16,16,312,478,4009,34,...,2.71,0,0,0,0,NaN,0,287,287,3
4,DeAngelo Williams,CAR,RB,25,16,16,0,0,0,0,...,5.55,18,30,22,121,5.5,2,286,308,1
5,Jay Cutler,DEN,QB,25,16,16,384,616,4526,25,...,3.51,2,0,0,0,NaN,0,281,281,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
574,George Wilson,BUF,NaN,27,16,3,0,0,0,0,...,NaN,0,0,0,0,NaN,0,NaN,NaN,184
575,Kris Wilson,SDG,NaN,27,3,0,0,0,0,0,...,NaN,0,NaN,0,0,NaN,0,NaN,NaN,106
576,D'Juan Woods,JAX,NaN,24,1,0,0,0,0,0,...,NaN,0,NaN,0,0,NaN,0,NaN,NaN,205
577,Wallace Wright,NYJ,NaN,24,16,0,0,0,0,0,...,NaN,0,0,0,0,NaN,0,NaN,NaN,191
578,Joe Zelenka,JAX,NaN,32,16,0,0,0,0,0,...,NaN,0,NaN,0,0,NaN,0,NaN,NaN,102

In [87]:
# drop the team column and encode the Position column to be numerical

for i in range(11):
    currDf = df[i]
    currDf["Pos"].mask(currDf["Pos"] == "QB", 1, inplace=True)
    currDf["Pos"].mask(currDf["Pos"] == "RB", 2, inplace=True)
    currDf["Pos"].mask(currDf["Pos"] == "WR", 3, inplace=True)
    currDf["Pos"].mask(currDf["Pos"] == "TE", 4, inplace=True)
    currDf.fillna(value=0, axis='columns', inplace=True)
    df[i] = currDf.drop(columns=["Team"])
    
    

df[0]

,Name,Pos,Age,G,GS,P_Cmp,P_Att,P_Yds,P_TD,P_Int,...,Y/A,R_TD,Tgt,Rec,Re_Yds,Y/R,Re_TD,Total_Pts,PPR,PosRank
1,Drew Brees,1,29,16,16,413,635,5069,34,17,...,-0.05,0,0,0,0,0.0,0,305,305,1
2,Aaron Rodgers,1,25,16,16,341,536,4038,28,13,...,3.70,4,0,0,0,0.0,0,296,296,2
3,Philip Rivers,1,27,16,16,312,478,4009,34,11,...,2.71,0,0,0,0,0.0,0,287,287,3
4,DeAngelo Williams,2,25,16,16,0,0,0,0,0,...,5.55,18,30,22,121,5.5,2,286,308,1
5,Jay Cutler,1,25,16,16,384,616,4526,25,18,...,3.51,2,0,0,0,0.0,0,281,281,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
574,George Wilson,0,27,16,3,0,0,0,0,0,...,0.00,0,0,0,0,0.0,0,0,0,184
575,Kris Wilson,0,27,3,0,0,0,0,0,0,...,0.00,0,0,0,0,0.0,0,0,0,106
576,D'Juan Woods,0,24,1,0,0,0,0,0,0,...,0.00,0,0,0,0,0.0,0,0,0,205
577,Wallace Wright,0,24,16,0,0,0,0,0,0,...,0.00,0,0,0,0,0.0,0,0,0,191
578,Joe Zelenka,0,32,16,0,0,0,0,0,0,...,0.00,0,0,0,0,0.0,0,0,0,102

In [88]:
# possibly remove players with no position
# should we remove players who have no stats next season?

In [89]:
# add column of next season to current season

for i in range(10):
    currDf = df[i]
    nextDf = df[i+1][["Name", "Total_Pts"]]
    nextDf.rename(columns={"Total_Pts": "Next_Season_Pts"}, inplace=True)
    newDf = pd.merge(currDf, nextDf, how="outer", on=["Name"])
#     mask = newDf["Next_Season_Pts"] == 0
#     newDf = newDf[~mask]
    df[i] = newDf

/Users/saketh/opt/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [90]:
# remove players who didn't play a game (this is a result of the join)

for i in range(10):
    currDf = df[i]
    currDf.fillna(value=0, axis='columns', inplace=True)
    for index, row in currDf.iterrows():        
        if row["G"] < 10:
            currDf = currDf.drop(axis=0, index=index)
            
    df[i] = currDf  
    
df[3]

,Name,Pos,Age,G,GS,P_Cmp,P_Att,P_Yds,P_TD,P_Int,...,R_TD,Tgt,Rec,Re_Yds,Y/R,Re_TD,Total_Pts,PPR,PosRank,Next_Season_Pts
0,Aaron Rodgers,1.0,28.0,15.0,15.0,343.0,502.0,4643.0,45.0,6.0,...,3.0,0.0,0.0,0.0,0.0,0.0,399.0,399.0,1.0,344.0
1,Drew Brees,1.0,32.0,16.0,16.0,468.0,657.0,5476.0,46.0,14.0,...,1.0,0.0,0.0,0.0,0.0,0.0,396.0,396.0,2.0,346.0
2,Cam Newton,1.0,22.0,16.0,16.0,310.0,517.0,4051.0,21.0,17.0,...,14.0,1.0,1.0,27.0,27.0,0.0,375.0,376.0,3.0,323.0
3,Tom Brady,1.0,34.0,16.0,16.0,401.0,611.0,5235.0,39.0,12.0,...,3.0,0.0,0.0,0.0,0.0,0.0,370.0,370.0,4.0,340.0
4,Matthew Stafford,1.0,23.0,16.0,16.0,421.0,663.0,5038.0,41.0,16.0,...,0.0,0.0,0.0,0.0,0.0,0.0,347.0,347.0,5.0,276.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
577,Justin Snow,0.0,35.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,102.0,0.0
578,Nate Solder,0.0,23.0,16.0,13.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,112.0,0.0
579,Brandon Tate,0.0,24.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,203.0,25.0
582,Kris Wilson,0.0,30.0,15.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,108.0,0.0
584,Joe Zelenka,0.0,35.0,16.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,106.0,0.0

In [91]:
# combine the data and export it
del df[10]
combined_df = pd.concat(df, ignore_index=True)

combined_df = combined_df.drop(columns=['PPR', 'PosRank'])
# remove players who scored less than 130 pts (~8pts/game)

for index, row in combined_df.iterrows():        
        if row["Total_Pts"] <= 80 or row["Next_Season_Pts"] <= 80:
            combined_df = combined_df.drop(axis=0, index=index)

file_path = "learning_data.csv"
combined_df.to_csv(file_path, index=False)